
<h2>{{this.response}}</h2>
<table border="1" cellpadding="10" style="max-width:200px">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Amount</td>
      <td>{{this.amount}}</td>
    </tr>
    <tr>
      <td>mmp_txn</td>
      <td>{{this.mmp_txn}}</td>
    </tr>
     <tr>
      <td>mer_txn</td>
      <td>{{this.mer_txn}}</td>
    </tr>
    <tr>
      <td>prod</td>
      <td>{{this.prod}}</td>
    </tr>
    <tr>
      <td>date</td>
      <td>{{this.date}}</td>
    </tr>
     <tr>
      <td>bank_txn</td>
      <td>{{this.bank_txn}}</td>
    </tr>
     <tr>
      <td>f_code</td>
      <td>{{this.f_code}}</td>
    </tr>
     <tr>
      <td>clientcode</td>
      <td>{{this.clientcode}}</td>
    </tr>
     <tr>
      <td>bank_name</td>
      <td>{{this.bank_name}}</td>
    </tr>
     <tr>
      <td>merchant_id</td>
      <td>{{this.merchant_id}}</td>
    </tr>
     <tr>
      <td>discriminator</td>
      <td>{{this.discriminator}}</td>
    </tr>
      <tr>
      <td>desc</td>
      <td>{{this.desc}}</td>
    </tr>
     <tr>
      <td>udf9</td>
      <td>{{this.udf9}}</td>
    </tr>
     <tr>
      <td>signature</td>
      <td>{{this.signature}}</td>
    </tr>
  </tbody>
</table>
